        body {
            background: #fffafa;
            max-width: 100%;
        }
        .list1 {
            align-items: center;
        }
        .list2 {
            align-items: center;
        }

        .navbar-brand img {    
            width: 50px;
        }

        .photo {
            text-align: center;
        }

        .round {
            border-radius: 20px;
            border: 5px #ccc solid;
            box-shadow: 0 0 10px #444;
        }

        .text {
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 15pt;
        }

        ol {
            text-align: left
        }

        ul {
            text-align: left;
        }

        a {
            padding: 10px;
            text-decoration: none
        }

        a:hover {
            background: rgb(247, 2, 2);
            color: rgb(47, 24, 255);
        }

        h1 {
            font-size: 20pt;
        }

        h2 {
            font-size: 15pt;
        }